.order-tilter {
  padding: 24px 18px;
  border-radius: 4px;
  border: 1px solid #e5dfff;
  padding-top: 4px;
  .fliter-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .left-normal-filter {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .filter-public {
      display: flex;
      align-items: center;
      margin-top: 20px;
      height: auto;
      max-width: 30%;
      width: 30%;
      height: 32px;
      input {
        width: 166px;
        border-radius: 4px;
        border: 1px solid #efecff;
        font-size: 14px;
      }
      p {
        font-size: 14px;
        color: #333;
        margin-right: 8px;
        white-space: nowrap;
        text-align: right;
        min-width: 74px;
      }
      .ant-select-selector {
        border-radius: 4px;
        border-color: #efecff;
        text-align: left;
      }
    }
  }
  .right-other-filter {
    width: 350px;
    min-width: 350px;
    .filter-public {
      display: flex;
      margin-top: 20px;
      align-items: center;
      p {
        font-size: 14px;
        color: #333;
        margin-right: 6px;
        white-space: nowrap;
        text-align: right;
        min-width: 74px;
      }
      .mask-label {
        min-width: auto;
        margin: 0 14px;
      }
      .ant-picker {
        border-color: #efecff;
        border-radius: 4px;
        input {
          border: 0;
        }
      }
      input {
        border-radius: 4px;
        border: 1px solid #efecff;
        font-size: 14px;
      }
      button {
        border-radius: 4px;
      }
    }
    .filter-public:last-child {
      justify-content: flex-end;
      padding-right: 6px;
    }
  }

  .inp-filter-two {
    input {
      width: 114px;
    }
  }
}
@media screen and (min-width: 2000px) {
  .order-tilter {
    .fliter-inner {
      width: 80%;
      margin: 0 auto;
      .left-normal-filter {
        input{
          width: 220px;
        }
        .ant-select{
          width: 220px!important;
        }
      }
    }
  }
}
