@font-face {
  font-family: "iconfont"; /* Project id 3667666 */
  src: url('iconfont.woff2?t=1664350253655') format('woff2'),
       url('iconfont.woff?t=1664350253655') format('woff'),
       url('iconfont.ttf?t=1664350253655') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-H5shaixuan:before {
  content: "\e63c";
}

.icon-H5rili:before {
  content: "\e63b";
}

.icon-closefill:before {
  content: "\e6a6";
}

.icon-DOGE:before {
  content: "\e633";
}

.icon-ETH:before {
  content: "\e634";
}

.icon-TRX:before {
  content: "\e635";
}

.icon-BCH:before {
  content: "\e636";
}

.icon-BTC:before {
  content: "\e637";
}

.icon-USDC:before {
  content: "\e638";
}

.icon-XRP:before {
  content: "\e639";
}

.icon-LTC:before {
  content: "\e63a";
}

.icon-chorme:before {
  content: "\e627";
}

.icon-iOS:before {
  content: "\e628";
}

.icon-fuzhi:before {
  content: "\e629";
}

.icon-a-googleplay:before {
  content: "\e62a";
}

.icon-shuaxin:before {
  content: "\e62b";
}

.icon-android:before {
  content: "\e62c";
}

.icon-youxiang:before {
  content: "\e62d";
}

.icon-mima:before {
  content: "\e62e";
}

.icon-yanzhengma:before {
  content: "\e62f";
}

.icon-gugeyanzhengma:before {
  content: "\e630";
}

.icon-shachu:before {
  content: "\e631";
}

.icon-bianji:before {
  content: "\e632";
}

.icon-chahao:before {
  content: "\e625";
}

.icon-jiantou:before {
  content: "\e626";
}

.icon-guanbitanchuang:before {
  content: "\e620";
}

.icon-zhengyan:before {
  content: "\e621";
}

.icon-biyan:before {
  content: "\e622";
}

.icon-a-fuzhi2:before {
  content: "\e623";
}

.icon-duigou:before {
  content: "\e624";
}

.icon-jiaocheng:before {
  content: "\e61e";
}

.icon-tixing:before {
  content: "\e61f";
}

.icon-tubiao:before {
  content: "\e61d";
}

.icon-wenhao:before {
  content: "\e61a";
}

.icon-bizhongmingxi:before {
  content: "\e61b";
}

.icon-chaxun:before {
  content: "\e61c";
}

.icon-a-bianzu25:before {
  content: "\e619";
}

.icon-zongshouxufei:before {
  content: "\e618";
}

.icon-xiala:before {
  content: "\e615";
}

.icon-a-bianzu554:before {
  content: "\e610";
}

.icon-a-bianzu553:before {
  content: "\e611";
}

.icon-a-bianzu552:before {
  content: "\e612";
}

.icon-cangpeitubiao_xiazaipandiandanxiazaidayinmoban1:before {
  content: "\e613";
}

.icon-a-shouqi2:before {
  content: "\e614";
}

.icon-shouqi:before {
  content: "\e616";
}

.icon-xialajiantouxiaobeifen:before {
  content: "\e617";
}

.icon-cangpeitubiao_xiazaipandiandanxiazaidayinmoban:before {
  content: "\e60f";
}

.icon-dingdanguanli:before {
  content: "\e606";
}

.icon-a-gongzuotai3:before {
  content: "\e607";
}

.icon-gongzuotai:before {
  content: "\e608";
}

.icon-gailan:before {
  content: "\e609";
}

.icon-a-fuzhi-22:before {
  content: "\e60a";
}

.icon-a-fuzhi-23:before {
  content: "\e60b";
}

.icon-yuyan:before {
  content: "\e60c";
}

.icon-tuichu:before {
  content: "\e60d";
}

