.index-view {
  width: 100%;
  height: 100vh;
  display: flex;
  .left-menu {
    width: 240px;
    min-width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s all;
    background: url("../../assets/images/menu_bg.png");
    background-size: 100% 100%;
    .menu-inner {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      // background: linear-gradient(180deg, #8166ff 0%, #937dff 100%);
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      .level-one-menu {
        width: 60px;
        min-width: 60px;
        height: 100%;
        background-color: #6045e2;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 80px;
        padding-top: 14px;
        img {
          width: 12px;
          height: 100px;
        }
        ul {
          margin-top: 26px;
          li {
            margin-bottom: 18px;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            transition: 0.3s all;
            cursor: pointer;
            .iconfont {
              font-size: 18px;
              color: white;
              pointer-events: none;
            }
          }
          .active-menu-one {
            background-color: #7659ff;
          }
        }
        .bottom-content {
          ul {
            li {
              .iconfont {
                font-size: 22px;
              }
            }
            li:hover {
              background-color: #7659ff;
            }
            li:last-child {
              display: flex;
              flex-direction: column;
              margin-top: 24px;
              position: relative;
            }
            li:last-child::before {
              content: "";
              width: 26px;
              height: 1px;
              display: inline-block;
              background-color: #7052fd;
              transform: translateY(-23px);
            }
          }
        }
      }
      .level-two-menu {
        flex: 1;
        position: relative;
        overflow: hidden;
        img {
          height: 44px;
          margin-top: 10px;
        }
        ul {
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          transition: 0.3s all;
          transform: translateY(-4px);
          opacity: 0;
          li {
            width: 100%;
            padding: 18px 0;
            cursor: pointer;
            transition: 3s all;
            position: relative;
            .active-mask {
              position: absolute;
              width: 0;
              height: 0;
              border: 6px solid rgba(0, 0, 0, 0);
              border-right-color: white;
              right: 0;
              top: 50%;
              margin-top: -6px;
              opacity: 0;
              transition: 0.1s all;
            }
            p {
              font-size: 14px;
              font-weight: 500;
              color: white;
              white-space: nowrap;
            }
          }
          .active-menu-two {
            background: linear-gradient(
              90deg,
              rgba(179, 162, 255, 0.04) 0%,
              #9680ff 100%
            );
            .active-mask {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .right-view {
    padding: 18px 24px;
    min-width: calc(100% - 240px);
    flex: 1;
    box-sizing: border-box;
    display: flex;
    overflow: auto;
    flex-direction: column;
    .view-tool-box {
      margin-bottom: 20px;
      .view-tool {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .left-oper {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        .right-step-btn{
          button{
            font-size: 14px;
            color: white;
            border-radius: 4px;
            .iconfont{
              font-size: 13px;
              margin-right: 4px;
            }
          }
        }
        .oper-menu {
          width: 30px;
          height: 30px;
          border-radius: 4px;
          background-color: rgba(128, 102, 255, 0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-right: 20px;
          .iconfont {
            font-size: 20px;
            color: #7c61ff;
            transition: 0.3s all;
            display: inline-block;
          }
          .hidden-menu {
            transform: rotate(180deg);
          }
        }
        .level-text {
          font-size: 14px;
          font-weight: 500;
        }
        .icon-shouqi {
          margin: 0 4px;
        }
        .level-one-route {
          color: #999;
        }
        .level-two-route {
          color: #7c61ff;
        }
      }
    }
    .view-box {
      flex: 1;
    }
  }
}
.hidden-view-menu {
  .left-menu {
    width: 60px;
    overflow: hidden;
    min-width: 0;
  }
}
.ant-popover-placement-right {
  // display: none;
  .ant-popover-arrow {
    .ant-popover-arrow-content {
      --antd-arrow-background-color: rgba(255, 255, 255, 0.15);
    }
  }
  .ant-popover-inner {
    // background-color: rgba(255, 255, 255, 0.15);
    // backdrop-filter: saturate(90%) blur(10px);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    overflow: hidden;
    .ant-popover-inner-content {
      padding: 0;
      .popver-content {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(4px);
        ul {
          li {
            padding: 12px 30px;
            transition: 0.3s all;
            cursor: pointer;
            p {
              font-size: 14px;
              color: white;
              text-align: center;
            }
          }
          li:hover {
            background-color: #9681ff;
          }
        }
      }
      .with-bg {
        background: #f4f2ff;
        ul {
          li {
            p {
              color: #7256f8;
            }
          }
          li:hover {
            background: #e8e2ff;
          }
        }
      }
    }
  }
}
.edit-content {
  .edit-password-inp {
    padding: 32px 30px 40px;
    .inp-inner {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      position: relative;
      input {
        flex: 1;
        height: 44px;
        background-color: #faf8ff;
        border-color: rgba(104, 72, 253, 0.2);
        border-radius: 4px;
      }
    }
    .inp-inner:last-child {
      margin-bottom: 0;
    }
  }
}
.inner-label {
  width: 80px;
  margin-right: 20px;
  text-align-last: justify;
  font-size: 15px;
  color: #666;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
  sup {
    color: #da170d;
    position: absolute;
    top: -2px;
    right: -10px;
  }
}
.oper-type {
  position: absolute;
  font-size: 18px;
  cursor: pointer;
  color: #ccc;
  right: 14px;
  top: 8px;
}
.send-code {
  position: absolute;
  right: 14px;
  top: 3px;
  font-size: 14px;
  color: #6848fd;
  font-weight: 500;
  cursor: pointer;
}
.un-touch {
  filter: grayscale(100%);
  cursor: no-drop;
}
.send-code::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 24px;
  background-color: #eee;
  margin-right: 12px;
  transform: translateY(7px);
}
.login-out-inner {
  .modal-header-mine {
    padding: 20px 30px 12px;
    background: linear-gradient(180deg, #f5f7ff 0%, #ffffff 100%);
    border-radius: 4px;
  }
  .out-inner {
    padding: 20px 0 26px 0;
    text-align: center;
    p:first-child {
      font-size: 24px;
      color: #333;
      font-weight: 500;
    }
    p:last-child {
      margin-top: 10px;
      font-size: 18px;
      color: #666;
    }
  }
  .modal-footer-mine {
    text-align: center;
    button:first-child {
      margin-left: 0;
    }
  }
}
.tutorial-box {
  .box-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-mask {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .tutorial-content {
      position: relative;
      z-index: 1200;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .box-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        width: 544px;
        p:nth-child(2) {
          font-size: 24px;
          color: white;
          font-weight: 500;
        }
        .close-modal {
          width: 30px;
          height: 30px;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .iconfont {
            font-size: 12px;
            color: white;
          }
        }
      }
      .swiper-parent {
        display: flex;
        align-items: center;
        margin-bottom: 200px;
        .oper-btn {
          background: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(2px);
          width: 58px;
          height: 58px;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          .iconfont {
            font-size: 30px;
            color: rgba(255, 255, 255, 0.7);
            display: inline-block;
          }
        }
        .prev-btn {
          margin-right: 24px;
          .iconfont {
            transform: rotate(90deg);
          }
        }
        .next-btn {
          margin-left: 24px;
          .iconfont {
            transform: rotate(-90deg);
          }
        }
        .swiper-mine-box {
          width: 816px;
          border-radius: 8px;
          position: relative;
          .swiper-inner {
            height: 508px;
            background-color: white;
            display: flex !important;
            padding: 20px;
            padding-top: 40px;
            border-radius: 8px;
            flex-direction: column;
            margin-right: 20px;
            overflow: hidden;
            .inner-title {
              display: flex;
              align-items: center;
              .step-title {
                min-width: 80px;
                height: 40px;
                background: url("../../assets/images/step_top.png");
                background-size: 100% 100%;
                font-size: 16px;
                font-weight: 500;
                line-height: 40px;
                color: white;
                margin-right: 12px;
              }
              .title-text {
                font-size: 16px;
                color: #333;
                text-align: left;
                font-weight: 500;
              }
            }
            .img-box {
              display: flex;
              margin-top: 14px;
              justify-content: flex-start;
              padding-left: 92px;
              .remark-box {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .inner-public {
                  padding: 14px;
                  border-radius: 4px;
                  border: 1px dashed;
                  p {
                    font-size: 14px;
                    font-weight: 500;
                    text-align: left;
                  }
                }
                .remark-inner {
                  border-color: rgba(104, 72, 253, 0.26);
                  p {
                    color: #6848fd;
                  }
                }
                .remark-inner-other {
                  border-color: rgba(251, 65, 65, 0.26);
                  margin-top: 16px;
                  p {
                    color: #fd5656;
                  }
                }
              }
            }
          }
          .without-img {
            justify-content: center;
          }
          .step-total {
            position: absolute;
            width: 60px;
            height: 60px;
            right: 0;
            bottom: 0;
            background: url("../../assets/images/step_bottom.png");
            background-size: 100% 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding-right: 8px;
            padding-bottom: 12px;
            p {
              font-size: 15px;
              color: #6848fd;
            }
          }
        }
      }
    }
  }
}
