.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-picker-cell-range-start,
.ant-picker-cell-range-end {
  .ant-picker-cell-inner {
    border-radius: 50% !important;
    background-color: #b4a4ff !important;
  }
}
.ant-picker-cell-in-range::before {
  background-color: rgb(248, 249, 255) !important;
}
.ant-picker-cell-range-start::before {
  background-color: rgb(248, 249, 255) !important;
}
.ant-picker-cell-range-end::before {
  background-color: rgb(248, 249, 255) !important;
}
.ant-picker-cell-range-end {
  .ant-picker-cell-inner {
    background-color: #5f3efc !important;
  }
}
.ant-picker-cell-inner::before {
  border-color: #5f3efc !important;
}
.ant-table-thead {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  .ant-table-cell {
    background-color: #f8f5ff;
  }
}
.ant-pagination {
  li {
    width: 26px;
    min-width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #F8F8F8;
    button {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }
  .ant-pagination-prev,
  .ant-pagination-next {
    button {
      border: 0;
    }
  }
  .ant-pagination-prev:hover,.ant-pagination-next:hover{
    button{
      color: #694afd;
    }
  }
  .ant-pagination-item-active {
    background-color: #694afd;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    a {
      color: white;
    }
  }
  .ant-pagination-item-active:hover{

    a{
      color: white;
    }
  }
  li:hover{
    a{
      color: #694afd;
    }
  }
}
