@import "~antd/dist/antd.less";
.App {
  text-align: center;
  background-color: white;
}

.ant-picker-cell-range-start,
.ant-picker-cell-range-end {
  .ant-picker-cell-inner {
    border-radius: 50% !important;
  }
}
.ant-table-thead {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  .ant-table-cell {
    background-color: #f8f5ff;
  }
}

button {
  border-radius: 4px;
}
.ant-modal-root {
  .ant-modal-wrap {
    .ant-modal {
      .ant-modal-content {
        border-radius: 4px;
        .ant-modal-body {
          padding: 0;
        }
      }
    }
  }
}
.modal-header-mine {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f8f8f8;
  p {
    font-size: 22px;
    color: #333;
    font-weight: 500;
  }
  .iconfont{
    font-weight: 400;
    font-size: 16px;
    color: #999;
    cursor: pointer;
  }
}
.modal-footer-mine{
  padding: 30px;
  text-align: right;
  padding-top: 0;
  button{
    width: 142px;
    height: 40px;
    font-size: 14px;
    margin-left: 24px;
    border-radius: 4px;
  }
  .cancel-btn{
    background-color: white;
    border: 1px solid #6848FD;
    color: #6848FD;
  }
}
.ant-btn-primary[disabled]{
  background-color: #eee;
  border: 0;
}
