.merchant-withdraw {
  .assets-oper-remark {
    width: 100%;
    padding: 10px;
    background-color: #fff0f0;
    border-radius: 4px;
    border: 1px solid #ffabae;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    .iconfont {
      font-size: 14px;
      margin-right: 4px;
    }
    p {
      font-size: 12px;
      color: #e17474;
    }
  }
  .withdraw-content {
    padding: 32px 24px;
    border-radius: 4px;
    border: 1px solid #e5dfff;
    .select-label {
      font-size: 18px;
      color: #333;
      font-weight: 500;
      margin-right: 98px;
    }
    .select-coin {
      display: flex;
      align-items: center;
      margin-bottom: 56px;
      ul {
        flex: 1;
        display: flex;
        li {
          padding: 14px 28px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          margin-right: 30px;
          cursor: pointer;
          transition: 0.2s all;
          min-width: 160px;
          font-weight: 500;
          position: relative;
          .active-label {
            position: absolute;
            bottom: -4px;
            right: -4px;
            width: 0px;
            height: 0px;
            border: 8px solid rgba(0, 0, 0, 0);
            border-top-color: #6b4cfd;
            transform: rotate(-45deg);
            opacity: 0;
            transition: 0.1s all;
          }
        }
        .active-coin {
          border-color: #6b4cfd;
          color: #7153fe;
          .active-label {
            opacity: 1;
          }
        }
      }
    }
    .select-address {
      display: flex;
      align-items: center;
      .inp-address {
        position: relative;
        flex: 1;
        input {
          height: 46px;
          width: 100%;
          border-radius: 4px;
          border-color: #ccc;
        }
        .inp-amount-remark,
        p {
          position: absolute;
          font-size: 14px;
          color: #999;
          bottom: -24px;
          span {
            font-weight: 500;
            color: #db4444;
            margin: 0 4px;
          }
        }
      }
    }
    .inp-amount {
      margin-top: 80px;
      height: 48px;
      .select-label {
        display: flex;
        flex-direction: column;
        text-align: left;
        span:last-child {
          font-size: 14px;
          color: #999;
          margin-top: 4px;
          font-weight: 400;
        }
      }
      .inp-address {
        border-radius: 4px;
        border: 1px solid #ff6871;
        transition: 0.3s all;
        display: flex;
        align-items: center;
        input {
          border: 0;
          width: 200px;
          color: #f47272;
          outline: none;
        }
        input:focus {
          box-shadow: none;
        }
        .auto-inp-all {
          position: relative;
          bottom: auto;
          display: flex;
          align-items: center;
          color: #4266ff;
          font-weight: 500;
          font-size: 14px;
          cursor: pointer;
        }
        .auto-inp-all::before {
          content: "";
          display: inline-block;
          width: 1px;
          height: 22px;
          background-color: #e8ecff;
          margin-right: 12px;
        }
        .error-amount {
          position: absolute;
          left: 0;
          top: -32px;
          width: 100%;
          p {
            color: #f47272;
            font-size: 14px;
            .iconfont {
              font-size: 16px;
              color: #f47272;
            }
          }
        }
        .inp-amount-remark {
          width: 100%;
          display: flex;
          bottom: 0;
          p {
            position: relative;
            margin-right: 46px;
            color: #666;
            strong {
              margin-left: 12px;
            }
          }
        }
      }
    }
    .balance-msg {
      margin-top: 50px;
      .inp-address {
        ul {
          display: flex;
          li {
            width: 162px;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background-color: #f4f6ff;
            margin-right: 64px;
            p {
              position: relative;
              font-size: 14px;
              color: #999;
              bottom: auto;
            }
            p:first-child {
              margin-bottom: 10px !important;
              font-size: 16px;
              color: #333;
              font-weight: 500;
            }
          }
        }
      }
    }
    .next-btn {
      margin-top: 62px;
      background-color: #fbfaff;
      width: calc(100% + 48px);
      transform: translateX(-24px) translateY(32px);
      padding: 16px 0;
      .inp-address {
        text-align: left;
        button {
          width: 114px;
          height: 46px;
          border-radius: 4px;
          font-size: 18px;
        }
      }
    }
  }
}
.withdraw-modal-content {
  padding: 10px 30px 40px;
  .withdraw-msg {
    position: relative;
    .shadow-bg {
      position: absolute;
      width: 100%;
      left: 0;
      top: 52px;
      z-index: 20;
    }
    .msg-inner {
      padding: 20px 16px;
      background: linear-gradient(138deg, #7c61ff 0%, #5a38fc 100%);
      border-radius: 10px;
      position: relative;
      z-index: 100;
      display: flex;
      align-items: center;
      margin-bottom: 28px;
      .left-title {
        display: flex;
        margin-right: 15px;
        align-items: center;
        img {
          width: 45px;
          height: 45px;
          margin-right: 8px;
        }
        .text-title {
          width: 88px;
          p:first-child {
            font-size: 18px;
            color: white;
            font-weight: 500;
          }
          p:last-child {
            margin-top: 2px;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.4);
          }
        }
      }
      .right-content {
        flex: 1;
        display: flex;
        align-items: center;
        .right-inner {
          text-align: center;
          .inner-title {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 4px;
            margin-top: -5px;
          }
          .address-oper {
            display: flex;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding-bottom: 10px;
            .address-text {
              flex: 1;
              text-align: left;
              font-size: 16px;
              color: white;
            }
            .copy-btn {
              width: 26px;
              height: 26px;
              border-radius: 4px;
              background-color: rgba(255, 255, 255, 0.09);
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              margin-left: 20px;
              .iconfont {
                font-size: 13px;
                color: white;
              }
            }
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
              width: calc(50% - 13px);
              display: flex;
              margin-top: 12px;
              justify-content: space-between;
              align-items: center;
              p {
                color: rgba(255, 255, 255, 0.8);
                font-size: 12px;
              }
              p:last-child {
                font-weight: 500;
                color: white;
                font-size: 14px;
              }
            }
          }
        }
      }
      .right-content::before {
        content: "";
        width: 1px;
        height: 88px;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.06);
        margin-right: 20px;
      }
    }
    .inp-inner {
      display: flex;
      position: relative;
      align-items: center;
      margin-bottom: 24px;
      input {
        height: 44px;
        border-radius: 4px;
        background-color: #faf8ff;
        border-color: rgba(104, 72, 253, 0.2);
        flex: 1;
      }
      .oper-type {
        top: 10px;
      }
    }
    .inp-inner:last-child {
      margin-bottom: 0;
    }
  }
}
.faile-fee-content {
  padding: 14px 30px 40px;
  .fee-inner {
    padding: 20px 26px 20px 16px;
    border-radius: 10px;
    background: linear-gradient(138deg, #7c61ff 0%, #5a38fc 100%);
    display: flex;
    .left-title {
      display: flex;
      align-items: center;
      margin-right: 22px;
      img {
        width: 48px;
        height: 48px;
        margin-right: 8px;
      }
      .title-text {
        p:first-child {
          font-size: 18px;
          font-weight: 500;
          color: white;
        }
        p:last-child {
          margin-top: 2px;
          color: rgba(255, 255, 255, 0.4);
          font-size: 12px;
        }
      }
    }
    .right-content {
      flex: 1;
      display: flex;
      align-items: center;
      ul{
        flex: 1;
        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
          p{
            font-size: 12px;
            color: white;
            .iconfont{
              font-size: 12px;
              cursor: pointer;
              margin-left: 4px;
            }
          }
          p:last-child{
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
    .right-content::before{
      content: '';
      display: inline-block;
      width: 1px;
      height: 88px;
      background-color: rgba(255,255,255,.1);
      margin-right: 35px;
    }
  }
}
